<div class="padding-vertical-small">
  <h3 class="anchorable-toc" id="{{id-for-deprecation model.id}}">{{model.title}}</h3>
  <p class="em">
    {{#if renderIdOrUntil}}
      <div><span class="bold">until: </span>{{model.until}}</div>
    {{/if}}
    {{#if renderIdOrUntil}}
      <div><span class="bold">id: </span>{{model.id}}</div>
    {{/if}}
  </p>
  <section>
    {{markdown-to-html model.content}}
  </section>
</div>
<hr>