<div class="padding-vertical-small bg-light-muted rounded-sm">
  <h3 id="{{id-for-deprecation @model.id @model.anchor}}">
    <a href="#{{id-for-deprecation @model.id @model.anchor}}" title={{@model.title}} class="toc-anchor">
      ยง
    </a>
    {{markdown-to-html
      @model.title
      extensions="no-wrapper"
      tagName=""
    }}
  </h3>
  <div class="my-2">
    {{#if @renderIdOrUntil}}
      <div><span class="bold">until: </span>{{@model.until}}</div>
    {{/if}}
    {{#if @renderIdOrUntil}}
      <div><span class="bold">id: </span>{{@model.id}}</div>
    {{/if}}
  </div>
  <section>
    {{markdown-to-html @model.content}}
  </section>
</div>