<div class="main ml-5 {{if this.displayMobileToc "mobile" "desktop"}}">
  {{#if @sortedGroupedResults}}
    <h1 data-test-deprecations-added-in>Deprecations Added in {{@project}} {{@version}}</h1>
    <div class="intro">
      <p>What follows is a list of deprecations introduced to {{@project}} during the {{@version}}
      cycle.</p>
      <p>For more information on deprecations in {{@project}}, see the <LinkTo @route="index" data-test-main-deprecations-link>main deprecations page</LinkTo>.</p>
    </div>

    {{#each @sortedGroupedResults as |result|}}
      <h2 class="anchorable-toc rounded-lg padding-small">Deprecations Added in {{result.since}} </h2>
      {{#each result.contents as |content|}}
        <DeprecationArticle @model={{content}}>
          <h3 id="{{id-for-deprecation (or content.displayId content.id) content.anchor}}">
            <LinkTo @route="id" @model={{content.id}} title={{content.title}} class="toc-anchor">ยง</LinkTo>
            {{markdown-to-html
              content.title
              extensions="no-wrapper"
              tagName=""
            }}
          </h3>
        </DeprecationArticle>
      {{/each}}
    {{/each}}
  {{/if}}
</div>