{{#if @sortedGroupedResults}}
  {{#if @displayMobileToc}}
    <nav
      class="mobile-sidebar fade-in {{if @displayMobileToc "mobile" "desktop"}}"
      role="navigation"
      aria-label="Mobile Table of Contents"
      data-test-mobile-table-of-contents
    >
      <TableOfContents
        @sortedGroupedResults={{sortedGroupedResults}}
        @displayMobileToc={{@displayMobileToc}}
      />
    </nav>
  {{/if}}

  <nav class="sidebar fade-in" role="navigation" aria-label="Desktop Table of Contents">
    <TableOfContents
      @sortedGroupedResults={{@sortedGroupedResults}}
      @displayMobileToc={{@displayMobileToc}}
    />
  </nav>
  <div id="back-to-top"><a href="#">&#11014; Back to Top</a></div>
{{/if}}