<div id="content" class="main" role="main">
  <h2 class="anchorable-toc" id="toc_deprecations">Deprecations</h2>
  <p>Periodically, various APIs in Ember.js may be deprecated. During a minor
  release, for instance when upgrading from version 1.9 to 1.10, you may see new
  deprecations fire in your codebase. Until a major revision such as 2.0 lands,
  code firing such deprecations is still supported by the Ember community. After
  the next major revision lands, the supporting code may be removed. This style
  of change management is commonly referred to as <a href="http://semver.org/">Semantic Versioning</a>.</p>
  
  <p>
    <a href="https://github.com/ember-cli/ember-cli/releases">Upgrade your ember-cli version</a> 
    to see which deprecations affect your app, when they are scheduled to change, 
    and how to fix them. You can use newer versions of the CLI with older Ember apps. 
    It's a good idea to resolve deprecations as they arise so that when a major 
    version is available, it's easier to upgrade your app. For some significant changes,
    codemods may be available, so check out 
    <a href="https://emberjs.com/blog/">
      Release Blog Posts
    </a> 
    before you dive in.
  </p>
  
  <h3 class="anchorable-toc" id="toc_ember">Ember</h3>
  <ul class="ember-version-graphics">
    <li>
      {{#link-to 'ember' 'v1.x'}}
        {{ember-version-graphic mascot='tomster' text='1.x'}}
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'ember' 'v2.x'}}
        {{ember-version-graphic mascot='zoey' text='2.x'}}
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'ember' 'v3.x'}}
        {{ember-version-graphic mascot='tomster-lts' text='3.x'}}
      {{/link-to}}
    </li>
  </ul>
  <h3 class="anchorable-toc" id="toc_ember-data">Ember Data</h3>
  <ul>
    <li>
      {{#link-to 'show' 'ember-data' 'v2.x'}}
        {{ember-version-graphic mascot='zoey' text='2.x'}}
      {{/link-to}}
    </li>
  </ul>
  <h3 class="anchorable-toc" id="toc_ember-cli">Ember CLI</h3>
  <ul>
    <li>
      {{#link-to 'show' 'ember-cli' 'v2.x'}}
        {{ember-version-graphic mascot='zoey' text='2.x'}}
      {{/link-to}}
    </li>
  </ul>
</div>
