<EsButton
  class="toc-toggle"
  aria-label="expand table of contents"
  title="expand table of contents"
  aria-expanded={{this.displayMobileToc}}
  @onClicked={{action "toggleToc"}}
>
  <img src="/images/expand.svg" alt="expand table of contents">
</EsButton>
<div class="layout-grid fade-in">
  {{#if this.displayMobileToc}}
    <nav
      class="mobile-sidebar fade-in {{if this.displayMobileToc "mobile" "desktop"}}"
      role="navigation"
      aria-label="Mobile Table of Contents"
      data-test-mobile-table-of-contents
    >
      <TableOfContents
        @sortedGroupedResults={{this.sortedGroupedResults}}
        @displayMobileToc={{this.displayMobileToc}}
      />
    </nav>
  {{else}}
    <nav class="sidebar fade-in" role="navigation" aria-label="Desktop Table of Contents">
      <TableOfContents @sortedGroupedResults={{this.sortedGroupedResults}} />
      <div id="back-to-top"><a id="back-top-top" href="#">&#11014; Back to Top</a></div>
    </nav>
  {{/if}}

  <div class="main ml-5 fade-in {{if this.displayMobileToc "mobile" "desktop"}}">
    <h1>Deprecations Added in {{project}} {{version}}</h1>
    <div class="intro">
      <p>What follows is a list of deprecations introduced to {{project}} during the {{version}}
      cycle.</p>
      <p>For more information on deprecations in {{project}}, see the <LinkTo @route="index">main deprecations page</LinkTo>.</p>
    </div>

    {{#each sortedGroupedResults as |result|}}
      <h2 class="anchorable-toc rounded-lg padding-small">Deprecations Added in {{result.since}} </h2>
      {{renderId}}
      {{#each result.contents as |content|}}
        <DeprecationArticle @model={{content}} @renderIdOrUntil={{this.renderIdOrUntil}} />
      {{/each}}
    {{/each}}
  </div>
</div>