<EsButton
  class="toc-toggle"
  aria-label="expand table of contents"
  title="expand table of contents"
  aria-expanded={{this.displayMobileToc}}
  @type="button"
  @onClicked={{action "toggleToc"}}
>
  <img src="/images/expand.svg" alt="expand table of contents">
</EsButton>
<div class="layout-grid ">
  <SideBarLayout
    @sortedGroupedResults={{this.model.sorted}}
    @displayMobileToc={{this.displayMobileToc}}
  />

  <MainLayout
    @sortedGroupedResults={{this.model.sorted}}
    @version={{this.version}}
    @project={{this.project}}
    @renderIdOrUntil={{this.renderIdOrUntil}}
    @displayMobileToc={{this.displayMobileToc}}
  />
</div>